@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "SelfDrvn is a (SaaS) platform solutions aims to gamify employee engagement in organizations to improve organization culture through big data behavioral analytics. With better engagement, companies will gain increased revenue and better customer satisfaction.";
    ViewData["Url"] = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
}

<div class="row center-block">
    <div class="col-sm-12">
        <div class="welcome-text">
        <h1>Your <em><span style="font-family: 'Playfair Display'; font-weight: normal;">all-in-one platform</span></em><br>
        <span style="font-family: Poppins;">to engage, reward and retain talents for great organization growth</span></h1>
        <p>We’ve combined the best practices in employee engagement today in a seamless inbound software<br>
           — so that it’s easy for you to manage and scale your team</p>
        </div>
    </div>
</div>
